:root {
	--primaryColor: #5498ac;
	--secondaryColor: #204ea3;
	--darkColor: black;
	--lightColor: white;
	--spacing-one: calc(1rem * 0.5);
	--spacing-two: calc(1rem);
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* SPACING STYLES */
.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-end {
	justify-content: flex-end;
}

.container {
	min-height: 100vh;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.mx-1 {
	margin-right: var(--spacing-one);
	margin-left: var(--spacing-one);
}

.mx-2 {
	margin-right: var(--spacing-two);
	margin-left: var(--spacing-two);
}

.my-1 {
	margin-top: var(--spacing-one);
	margin-bottom: var(--spacing-one);
}

.my-2 {
	margin-top: var(--spacing-two);
	margin-bottom: var(--spacing-two);
}

.px-1 {
	padding-right: var(--spacing-one);
	padding-left: var(--spacing-one);
}

.px-2 {
	padding-right: var(--spacing-two);
	padding-left: var(--spacing-two);
}

/* HEADER STYLES */
header {
	padding: 25px 25px;
	margin: auto;
	background-color: var(--primaryColor);
}

.nav-wrap {
	display: flex;
	justify-content: space-between;
	color: var(--secondaryColor);
}

.navbar {
	display: flex;
	justify-content: space-around;
}

.nav-title {
	text-decoration: none;
	color: var(--lightColor);
}

.list-item {
	text-decoration: none;
	padding: 15px;
	list-style: none;
	color: var(--lightColor);
	border: none;
}

.list-item:hover {
	font-weight: 800;
}

/* FOOTER STYLES */
footer {
	bottom: 0;
	padding: 30px;
	width: 100%;
	color: var(--lightColor);
	background-color: var(--darkColor);
}

/* LANDING PAGE STYLE */
.big-image {
	height: 100vh;
	width: 100vw;
	float: left;
	position: relative;
	background-size: cover;
	background-image: url('../src/assets/cover1.jpg');
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	display: flex;
	flex-direction: column;
}

.landing-nav {
	display: flex;
	justify-content: space-between;
	color: var(--secondaryColor);
}

.landing-navbar {
	display: flex;
	justify-content: space-around;
}

.landing-nav-title {
	margin: 20px;
	text-decoration: none;
	color: var(--lightColor);
}

.landing-list-item {
	margin: 20px;
	text-decoration: none;
	padding: 10px;
	list-style: none;
	color: var(--lightColor);
	border: none;
}

.landing-list-item:hover {
	font-weight: 800;
}

.hero-text {
	color: var(--lightColor);
	margin: 55px;
	text-align: center;
	font-size: 55px;
	font-weight: bold;
}

.hero-subtext {
	color: var(--lightColor);
	margin: 15px;
	text-align: center;
	font-size: 30px;
}

/* LOGIN/SIGNUP STYLES */
.login-title,
.signup-title {
	padding-top: 20px;
	padding-bottom: 20px;
	color: var(--lightColor);
}

label {
	font-weight: bold;
}

.login-container,
.signup-container {
	width: 85%;
	/* max-width: 1200px; */
	margin-left: auto;
	margin-right: auto;
}

.login-image {
	height: 100vh;
	width: 100vw;
	float: left;
	position: relative;
	background-size: cover;
	background-image: url('../src/assets/cover2.jpg');
}

.login-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	display: flex;
	flex-direction: column;
}

.signup-image {
	height: 100vh;
	width: 100vw;
	float: left;
	position: relative;
	background-size: cover;
	background-image: url('../src/assets/cover3.jpg');
}

.signup-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	display: flex;
	flex-direction: column;
}

.signup-back,
.login-back {
	color: var(--lightColor);
}

form {
	color: var(--lightColor);
	width: 40%;
}

input {
	font-size: 1rem;
	padding: 0.25rem;
	border: 1px solid var(--darkColor);
	border-radius: 3px;
	transition: box-shadow 0.2s;
}

input:focus {
	border: 1px solid var(--secondaryColor);
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

button {
	font-size: 1rem;
	text-decoration: none;
	padding: 0.25rem 1rem;
	border-radius: 0.5rem;
	outline: none;
	cursor: pointer;
	margin: 0 1px;
	background-color: var(--lightColor);
	color: var(--darkColor);
}

button:hover {
	background-color: var(--primaryColor);
}

/* NOT FOUND STYLES */
.notfound-image {
	height: 100vh;
	width: 100vw;
	float: left;
	position: relative;
	background-size: cover;
	background-image: url('../src/assets/404-2.jpg');
}

/* DASHBOARD STYLES */
.circles-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-top: 200px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.dashboard-circles {
	border: 5px solid var(--primaryColor);
	height: 250px;
	width: 250px;
	display: flex;
	background-color: gray;
	border-radius: 50%;
	justify-content: space-around;
	align-items: center;
	color: var(--lightColor);
	text-decoration: none;
	margin: 0 45px 45px 25px;
}

.dashboard-circles:hover {
	background-color: lightgrey;
	box-shadow: 0 0 10px 0 black;
	color: var(--darkColor);
	opacity: 0.7;
}

.chat-circle:hover::after {
	content: 'Chat';
	font-size: 50px;
}

.chat-circle:hover .chat-icon {
	display: none;
}

.courses-circle:hover::after {
	content: 'Courses';
	font-size: 50px;
}

.courses-circle:hover .course-icon {
	display: none;
}

.profile-circle:hover::after {
	content: 'Profile';
	font-size: 50px;
}

.profile-circle:hover .profile-icon {
	display: none;
}

.dashboard-title {
	text-align: center;
	font-size: 45px;
	margin-top: 35px;
}

/* PROFILE PAGE STYLES */
.profile-header {
	color: var(--darkColor);
	text-align: center;
	padding-top: 15px;
	font-size: 45px;
	margin-top: 50px;
}

.settings-wrapper {
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 100px;
}

.settings-container {
	background-color: lightgray;
	width: 272px;
	height: 400px;
	border-radius: 15px;
	border: 1px solid;
}

.settings-container h3 {
	color: var(--lightColor);
	text-align: center;
	padding: 20px;
	background-color: var(--primaryColor);
	border-radius: 15px;
}

.settings-email,
.settings-firstName,
.settings-lastName,
.settings-password {
	padding: 20px;
}

.settings-content {
	margin-top: 35px;
}

.settings-container h4 {
	text-decoration: underline;
	padding-bottom: 5px;
}

.edit-settings-container {
	background-color: var(--darkColor);
	margin: 0 50px;
	width: 272px;
	height: 400px;
	border-radius: 15px;
	border: 1px solid;
}

.edit-settings-container h3 {
	color: var(--lightColor);
	text-align: center;
	padding: 20px;
	background-color: var(--primaryColor);
	border-radius: 15px;
}

.edit-settings-container label {
	margin-bottom: 5px;
	text-decoration: underline;
}

.edit-settings-form {
	padding-left: 15px;
}

.form-label {
	padding-bottom: 10px;
	text-decoration: underline;
}

.form-button-wrapper {
	padding-right: 25px;
}

.form-button {
	background-color: var(--lightColor);
}

.form-button:hover {
	background-color: var(--primaryColor);
}

/* COURSE LIST STYLE */
.page-title {
	text-align: center;
	font-size: 45px;
	margin-top: 35px;
}

.courses-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-top: 200px;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.course-titles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.course-name {
	font-size: 28px;
}

.courses-btn {
	border: 5px solid var(--primaryColor);
	height: 250px;
	width: 250px;
	display: flex;
	background-color: gray;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	color: var(--lightColor);
	text-decoration: none;
	margin: 20px;
}

.courses-btn:hover {
	background-color: lightgrey;
	box-shadow: 0 0 10px 0 black;
	color: var(--darkColor);
	opacity: 0.7;
}

/* LESSON STYLES */
.lesson {
	margin-bottom: 150px;
}

.lesson-title {
	padding: 20px;
	text-align: center;
}

.lesson-img {
	width: 40%;
	float: left;
	margin: 20px 15px 15px 50px;
}

.lesson-intro {
	font-size: 16px;
	padding: 10px;
	margin: 10px 40px 35px 40px;
}

.lesson-name {
	padding: 20px;
	text-align: center;
}

.lesson-content {
	font-size: 16px;
	padding: 20px;
	margin: 0 40px 35px 40px;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.back-course button {
	float: right;
	margin-right: 45px;
	text-decoration: none;
	color: var(--lightColor);
	background-color: var(--primaryColor);
	font-weight: bold;
	font-size: 18px;
}

