:root {
  --primaryColor: #5498ac;
  --secondaryColor: #204ea3;
  --darkColor: black;
  --lightColor: white;
  /* --thirdColor: rgb(143, 69, 143);  */
  /* --fontColor: whitesmoke; */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SPACING STYLES */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

/* HEADER STYLES */
header {
  padding: 25px 25px;
  margin: auto;
  background-color: var(--primaryColor); 
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  color: var(--secondaryColor);
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.nav-title {
  text-decoration: none;
  color: var(--lightColor);
}

.list-item {
  text-decoration: none;
  padding: 15px;
  list-style: none;
  color: var(--lightColor);
  background-color: var(--secondaryColor);
  border: none;
}

.list-item:hover {
  font-weight: 800;
}

/* FOOTER STYLES */
footer {
  bottom: 0;
  position: absolute;
  padding: 30px;
  width: 100%;
  color: var(--lightColor);
  background-color: var(--darkColor);
}

.signup-form {
  float: right;
  padding-right: 10px;
}

/* HOMEPAGE STYLES */
.home-container {
  padding: 35px;
  margin: auto;
  text-align: center;
}

.home-cta-btn {
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.home-cta-btn a {
  color: white;
  text-decoration: none;
}

.cta-text {
  color: var(--lightColor);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}