:root {
  --primaryColor: #5498ac;
  --secondaryColor: #204ea3;
  --darkColor: black;
  --lightColor: white;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SPACING STYLES */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

/* HEADER STYLES */
header {
  padding: 25px 25px;
  margin: auto;
  background-color: var(--primaryColor); 
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  color: var(--secondaryColor);
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.nav-title {
  text-decoration: none;
  color: var(--lightColor);
}

.list-item {
  text-decoration: none;
  padding: 15px;
  list-style: none;
  color: var(--lightColor);
  /* background-color: var(--secondaryColor); */
  border: none;
}

.list-item:hover {
  font-weight: 800;
}

/* FOOTER STYLES */
footer {
  bottom: 0;
  position: absolute;
  padding: 30px;
  width: 100%;
  color: var(--lightColor);
  background-color: var(--darkColor);
}

.signup-form {
  float: right;
  padding-right: 10px;
}

/* LANDING PAGE STYLE */
.big-image {
  height: 100vh;
  width: 100vw;
  float: left;
  position: fixed;
  background-size: cover;
  /* background-position: 50% 50%; */
  background-image: url('../src/assets/image.png');
}

/* HOMEPAGE STYLES */
.home-container {
  padding: 35px;
  margin: auto;
  text-align: center;
}

.home-cta-btn {
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.home-cta-btn a {
  color: white;
  text-decoration: none;
}

.cta-text {
  color: var(--lightColor);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-icons {
  padding-top: 50px;
  display: inline-block;
}

.link-home img {
  width: 15%;
}

/* LOGIN/SIGNUP STYLES */
form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--darkColor);
  /* outline: none; */
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondaryColor);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondaryColor);
  color: var(--lightColor);
}

