:root {
  --primaryColor: #5498ac;
  --secondaryColor: #204ea3;
  --darkColor: black;
  /* --thirdColor: rgb(143, 69, 143);  */
  /* --fontColor: whitesmoke; */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SPACING STYLES */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

/* HEADER STYLES */
header {
  padding: 25px 25px;
  margin: auto;
  background-color: var(--primaryColor); 
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  color: var(--secondaryColor);
}
.navbar {
  padding: 1% 0;
  display: flex;
  justify-content: space-around;
  top: 0;
}
.list-item {
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
  color: var(--secondaryColor);
}
.list-hover {
  transition: color .5s ease-in-out, background-color .5s ease-in-out;
}
.list-hover:hover {
  color: var(--darkColor);
  background-color: var(--primaryColor);
}

/* FOOTER STYLES */
footer {
  bottom: 0;
  padding: 30px;
  width: 100%;
  color: white;
  background-color: var(--darkColor);
}

.signup-form {
  float: right;
  padding-right: 10px;
}